{% extends "template.html" %}
{% block content %}
<div class="container">
    <h1>Please login</h1>
    <form method="POST" action="{{ url_for('auth') }}">
        <input type="hidden" name="next" value="{{ next or url_for('index') }}">
        <p><label>Username:</label> <input class="form-control" type="text" name="username" required></p>
        <p><label>Password</label> <input class="form-control" type="password" name="password" required></p>
        <p>
            <button class="btn btn-primary" type="submit">Login</button>
        </p>
    </form>
</div>
</body>
{% endblock %}